body{
    background-color: #23272a;
}

.container{
    max-width: 290px;
    margin : 40px auto;
}

.heading{
    font-family: 'Press Start 2P', cursive;
    color: #7289da ;
}

.card{
    background-color: aqua;
    height: 400px;
    width : 290px;
    text-align: center;
    background-color: #2c2f33 ;
}

.input{
    margin-top: 0;
    margin-bottom: 30px;
}

.input input{
    width: 75%;
    height: 30px;
    outline: none;
    background-color: #2c2f33;
    border-style: solid;
    border-radius: 2px;
    color: white;
    padding-left: 2px;
}

.frm{
    width: 300px;
}

.frm button{
    width: 50px;
    margin-left: 10px;
    height: 30px;
    outline: none;
    border-style: solid;
    border-color: white;
    background-color: #2c2f33;
    color: white;
    cursor: pointer;
}

.frm button:hover{
    color: #2c2f33;
    background-color: white;
}

.card{
    border-radius: 6px;
    color: white;
    height: 550px;
    display: none;
}

.card img{
    width: 100%;
    height: 400px;
    border-radius: 6px;
}

.card .city{
    font-family: 'Fredoka One', cursive;
    font-family: 'Orbitron', sans-serif;
    margin-top: 4px;
    font-size: 15px;
}

.card .temp{
    font-family: 'Fredoka One', cursive;
    font-family: 'Orbitron', sans-serif;
    margin-top: 25px;
    font-size: 40px 
}

.card .condition{
    font-family: 'Fredoka One', cursive;
    font-family: 'Orbitron', sans-serif;
    margin-top: 5px;
    font-size: 15px; 
}
